.clearfix::before,
.clearfix::after{
    content: " ";
    display: block;
}

.clearfix::after{
    clear: both;
}

body{
    padding: 0;
    margin: 0 auto;
    width: 900px;
    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
}




header{
    color: white;
    background-color:  #5b7989;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    animation: animacionHeader 1s;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
}

header h1{
    margin: 0;
    text-shadow: 2px 2px #02010a;
    width: 50%;
    float: left;
}

#menu{
    float: right;
    padding: 5px;
    display: block;
}

#menu a{
    color: white;
    font-size: 1.5em;
    margin-left: 1vw;
}



#imagen-principal{
    background-color: #82c3a6;
    max-width: 100%;
    text-align: center;
    padding: 1vw;
}

img{
    box-shadow: 4px 4px 2px #02010a; 
}

#imagen-principal img{
    width: 60%;
    box-shadow: 4px 4px 2px #02010a;
}

#imagenes-secundarias{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    max-width: 100%;
    background-color: #d5c75f;
    padding: 1vw;
}

#imagenes-secundarias figure{
    width: 50%;
    text-align: center;
}

#imagenes-secundarias figure img{
    width: 60%;
    box-shadow: 4px 4px 2px #02010a;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
    /*transition: transform 0.5s;*/
}

#imagenes-secundarias figure a{
    color: black;
    font-size: 1.5em;
}

#imagen1 img:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px 2px #82c3a6;
}

#imagen2 img:hover{
    transform: translate(20px, -5px);
    box-shadow: 2px 2px 2px #82c3a6;
}

footer{
    margin: 0;
    padding: 20px;
    background-color: #C6d5c5;
    color: black;
    border-radius: 0px 0px 10px 10px;
}

footer .contenedor{
    display: flex;
    flex-direction: row;
}

footer .contenedor div{
    width: 25%;
}

#iconos{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#iconos a{
    width: 25%;
    font-size: 1.5em;
    color: black;
}

#imagenes-paisajes{
    background-color: #d5c75f;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#imagenes-paisajes div{
    width: 100%;
    max-width: 100%;
    text-align: center;
    flex-grow: 1;
}

#fila1, #fila2{
    display: flex;
    flex-direction: row;
}

#fila1 figure, #fila2 figure{
    max-width: 33.3%;
}

#fila1 figure img, #fila2 figure img{
    max-width: 85%;
}

#paisaje1{
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#paisaje2, #paisaje4, #paisaje6{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#paisaje3{
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
}

@-webkit-keyframes animacionHeader{
    0%{
        margin-top: 150%;
    }

    60%{
        margin-top: -5%;
    }

    100%{
        margin-top: 0%;
    }
}

@media (max-width: 900px){

    #fila1, #fila2{
        display: flex;
        flex-direction: column;
    }
    #fila1 figure, #fila2 figure{
        max-width: 100%;
    }

    body{
        width: 100%;
    }

    footer .contenedor{
        flex-direction: column;
        margin: 0 auto;
    }

    #iconos{
        width: 100%;
    }

    footer .contenedor div{
        width: 60%;
        margin: 0 auto;
    }

    #imagenes-secundarias figure img{
        width: 70%;
    }

    #imagenes-secundarias{
        flex-direction: column;
    }

    #imagenes-secundarias figure{
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    #imagen-principal img{
        width: 90%;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    header h1{
        text-align: center;
        width: 100%;
    }

    #menu{
        margin: 0 auto;
        margin-top: 1vw;
        width: 100%;
        display:flex;
        flex-direction: row;
    }

    #menu a{
        width: 33.3%;
        margin: 0;
        text-align: center;
        font-size: 1.5em;
    }
}
