.clearfix::before,
.clearfix::after{
    content: " ";
    display: block;
}

.clearfix::after{
    clear: both;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
}


header{
    color: white;
    background-color:  #5b7989;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
}

header h1{
    margin: 0;
    text-shadow: 2px 2px #02010a;
    width: 50%;
    float: left;
}

#menu{
    float: right;
    padding: 5px;
    display: block;
}

#menu a{
    color: white;
    font-size: 1.5em;
    margin-left: 1vw;
}

#menu :first-child{
    text-decoration: none;
}

#imagen-principal{
    background-color: #82c3a6;
    max-width: 100%;
    text-align: center;
    padding: 1vw;
}

#imagen-principal img{
    width: 60%;
    box-shadow: 4px 4px 2px #02010a;
}

#imagenes-secundarias{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    max-width: 100%;
    background-color: #d5c75f;
    padding: 1vw;
}

#imagenes-secundarias figure{
    width: 50%;
    text-align: center;
}

#imagenes-secundarias figure img{
    width: 60%;
    box-shadow: 4px 4px 2px #02010a;
    transition: transform 0.5s;
}

#imagenes-secundarias figure a{
    color: black;
    font-size: 1.5em;
}

#imagen1 img:hover{
    transform: rotate(10deg);
}

#imagen2 img:hover{
    transform: translate(20px, -5px);
}

footer{
    margin: 0;
    padding: 20px;
    background-color: #C6d5c5;
    color: black;
    border-radius: 0px 0px 10px 10px;
}

footer .contenedor{
    display: flex;
    flex-direction: row;
}

footer .contenedor div{
    width: 25%;
}

#iconos{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#iconos a{
    width: 25%;
    font-size: 1.5em;
    color: black;
}